{% extends "layout/base.html" %}
{% block content %}
<div class="container">
  <div class="row d-flex align-items-center">
    <a class="btn custom-btn col-4 offset-1 col-md-3" href="{{url_for('create_exercise')}}" id="createExercise" name="createExercise">Create
	  new exercise</a>
	  {% if "Following" in title %}
	  {% include "components/followinputtoggle.html" %}
	  {% else %}
	</div>
	  {% endif %}
  <div class="row d-flex justify-content-around">
	{% if "Following" in title %}
	{% for exercises in recordmatches %}
	{% for exercise in exercises %}
    {% include "components/exercisecards.html" %}
	{% endfor %}
	{% endfor %}
	{% else %}
	{% for exercise in exercises %}
    {% include "components/exercisecards.html" %}
    {% endfor %}
	{% endif %}
  </div>
</div>
{% endblock %}