{% extends "layout/base.html"%}
{% block content %}
  <form id="loginForm" class="container-fluid" method="POST">
    <div class="form-group row">
      <label for="inputUsername" class="col-10 offset-1">Username</label>
      <input type="text" class="form-control col-10 offset-1" id="inputUsername" name="inputUsername" aria-describedby="usernameHelp"
        placeholder="Enter username">
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-10 offset-1">Password</label>
      <input type="password" class="form-control col-10 offset-1" id="inputPassword" name="inputPassword" placeholder="Password">
    </div>
    <button type="submit" id="login" name="login" class="btn btn-primary col-10 offset-1">Login</button>
  </form>
  <a class="col-10 offset-1" href={{url_for("register")}}>Not registered? Click here.</a>
</div>
{% endblock %}