{% extends "layout/base.html" %}
{% block content %}
<section>
    <div id="welcomeSection" class="d-flex">
        <div class="container-fluid align-self-center my-auto">
            <div class="row my-auto">
                <h1 class="col-6 col-md-6 my-auto mx-auto text-center">Workout Planner</h1>
                <div class="col-6 col-md-8 offset-md-2 text-center">
                    <p>Workout Planner is the app for managing your
                        workout.
                    </p>
                    <p>Create a customised list of exercises and mark
                        them as
                        complete mid-workout!</p>
                    <p>View a global exercise list or follow specific
                        users
                        to compare your workouts.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}