@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

html {
    font-size: 18px;
}

body {
    font-family: 'Bebas Neue', cursive;
    background-image: url("/./static/img/geometricarchitecture.jpg")
}

.card-text, .card-title {
    color:#000000;
}

.complete > .row > .card-text, .complete > .row > .card-title {
    color: #424242;
    text-decoration: line-through;
}

.navbar {
    background-color: #1b1b1b;
}

.card {
    background-color: #0e1733cb;
    border: 0.1rem solid #222135a2;
    border-radius: 1rem;
    box-shadow: 0px 0.5rem 1rem #22222299;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.swal2-popup, .swal2-content, .swal2-title {
    color: #ffffff !important;
    border-radius: 0 !important;
    background-color: #1f1f1f !important;
}