@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

html {
    font-size: 18px;
}

body {
    font-family: 'Bebas Neue', cursive;
    background-image: url("/./static/img/geometricarchitecture.jpg")
}

#navigationTitle {
    color: #ffffff;
}

#alternativePathPrompt {
    text-decoration-style: none;
    color: #ffffff
}

.card-text, .card-title {
    color:#000000;
    display: flex;
    justify-content: space-around;
}

.complete > .row > .card-text, .complete > .row > .card-title {
    color: #424242;
    text-decoration: line-through;
}

.navbar {
    background-color: #1b1b1b;
}

.card {
    background-color: #555555cb;
    border: 0.1rem solid #ffffff;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem #22222299;
    margin: 1.5rem 1.75rem 1rem 1.75rem;
}

@media (min-width: 1200px) { 
    .card {
        margin: 1.5rem 3rem 1rem 3rem;
    }
 }

 @media (min-width: 1900px) { 
    .card {
        margin: 2rem 5.3rem 2rem 5.3rem;
    }
 }

.card-btn-group {
    padding:auto;
    /* display: flex;
    justify-content: space-evenly; */
    /* margin: 1rem 0rem; */
}

.card-btn i {
    margin: 0 0.2rem;
}

/*
Custom styling of sweetalerts modals, forced to use !important to override
in-built classes as cannot use specificity to drive changes.
Font/background colour and border radius redefined.
*/
.swal2-popup, .swal2-content, .swal2-title {
    color: #ffffff !important;
    border-radius: 0 !important;
    background-color: #1f1f1f !important;
}


/*Custom styling for all buttons, reinforcement of site theme.*/
.custom-btn, .swal2-confirm {
    background-color: #2b2b2b !important;
    color: #ffffff !important;
}

.custom-btn:focus, .swal2-confirm:focus {
    box-shadow: 0rem 0rem 1rem 0.2rem #dbb125;
}

.custom-btn:hover, .swal2-confirm:hover {
    color:#dbb125 !important;
    border-color: #dbb125 !important;
}

/*COMPLETE COMMENTS FOR EACH SECTION.*/