{% block content %}
<form id={{formId}} class="container-fluid" method="POST">
    <div class="form-group row">
      <label for="inputUsername" class="col-10 offset-1">Username</label>
      <input type="text" class="form-control col-10 offset-1" id="inputUsername" name="inputUsername" aria-describedby="usernameHelp" placeholder="Username" required>
    </div>
    {% if currentAuthPath == "register" %}
    <div class="form-group row">
        <label for="inputEmail" class="col-10 offset-1">Email</label>
        <input type="email" class="form-control col-10 offset-1" id="inputEmail" name="inputEmail" placeholder="example@domain.com" required>
      </div>
    {% endif %}
    <div class="form-group row">
      <label for="inputPassword" class="col-10 offset-1">Password</label>
      <input type="password" class="form-control col-10 offset-1" id="inputPassword" name="inputPassword" placeholder="Password" required>
    </div>
    <button type="submit" id={{currentAuthPath}} name={{currentAuthPath}} class="btn btn-primary col-10 offset-1">{{currentAuthPath}}</button>
  </form>
<a href="{{alternativeAuthPath}}" class="col-10 offset-1">{{alternativeAuthPathPrompt}}</a>
{% endblock content %}