{% block content %}
<div id="authForm">
  <form id={{formId}} class="container-fluid" method="POST">
    <div class="form-group row">
      <label for="inputUsername" class="col-6 offset-3 col-md-8 offset-md-2">Username</label>
      <input type="text" class="form-control col-6 offset-3 mb-3 col-md-8 offset-md-2" id="inputUsername" name="inputUsername"
        aria-describedby="usernameHelp" placeholder="Username" required>
    </div>
    {% if currentAuthPath == "register" %}
    <div class="form-group row">
      <label for="inputEmail" class="col-6 offset-3 col-md-8 offset-md-2">Email</label>
      <input type="email" class="form-control col-6 offset-3 col-md-8 offset-md-2" id="inputEmail" name="inputEmail"
        placeholder="example@domain.com" required>
    </div>
    {% endif %}
    <div class="form-group row">
      <label for="inputPassword" class="col-6 offset-3 col-md-8 offset-md-2">Password</label>
      <input type="password" class="form-control col-6 offset-3 mb-3 col-md-8 offset-md-2" id="inputPassword" name="inputPassword"
        placeholder="Password" required>
    </div>
    <button type="submit" id={{currentAuthPath}} name={{currentAuthPath}}
      class="btn custom-btn col-6 offset-3 mb-3 col-md-8 offset-md-2">{{currentAuthPath}}</button>
  </form>
  <a href="{{alternativeAuthPath}}" id="alternativePathPrompt" class="col-6 offset-3 col-md-8 offset-md-2">{{alternativeAuthPathPrompt}}</a>
</div>
{% endblock content %}