{% block cards %}
<div class="card" id="{{exercise_id}}" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{exercise.exercisename.title()}}</h5>
      <p class="card-text">Equipment: {{exercise.equipmentname.title()}}</p>
      <p class="card-text">Weight: {{exercise.weightvalue}}</p>
      {% if "My" in title %}
      <a href="{{url_for('edit_exercise', exercise_id=exercise._id)}}" class="btn btn-primary">Edit</a>
      {% endif %}
      {% if "Global" in title %}
      <a href="#" class="btn btn-primary">Clone</a>
      {% endif %}
    </div>
  </div>
{% endblock cards %}