<div class="custom-control custom-switch col-4 offset-1 col-md-2 offset-md-4">
	<input id="manage-follow-toggle" type="checkbox" data-toggle="toggle" id="manage-follow-toggle" checked
		data-onstyle="success" data-on="Add User" data-offstyle="danger" data-off="Remove User">
</div>
</div>
<div class="row flex-center">
	<div class="input-group col-10 col-md-4 offset-md-6 col-lg-3 mt-2" id="add-follow-form">
		<input type="text" class="form-control" placeholder="Username">
		<div class="input-group-append">
			<button type="submit" id="add-follow-submit" name="addFollowSubmit" class="btn btn-success"><i
					class="fas fa-plus-square"></i></button>
		</div>
	</div>
</div>