<nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler order-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse order-2 order-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav">
            {% if "myexercises" in nav %}
            <li class="nav-item active">
                <a class="nav-link" href={{url_for("my_exercises")}}>My Exercises<span class="sr-only"></span></a>
            </li>
            {% endif %}
            {% if "global" in nav %}
            <li class="nav-item active">
                <a class="nav-link" href={{url_for("global_exercises")}}>Global Exercise List<span
                        class="sr-only"></span></a>
            </li>
			{% endif %}
			{% if "following" in nav %}
            <li class="nav-item active">
                <a class="nav-link" href={{url_for("followed_users")}}>Followed Users<span
                        class="sr-only"></span></a>
            </li>
            {% endif %}
            {% if "user" in session %}
            <li class="nav-item active">
                <a class="nav-link" href={{url_for("logout")}}>Logout<span class="sr-only"></span></a>
            </li>
            {% endif %}
        </ul>
    </div>
    <h4 id="navigationTitle" class="order-1">Workout Planner <i class="fas fa-dumbbell"></i></h4>
</nav>